<!DOCTYPE html>
<html>
<head>
  <title>vue.js sample</title>
  <script src="node_modules/vue/dist/vue.min.js"></script>
</head>
<body id="body">
  <span>Message is: {{message}}</span>
  <input type="text" v-model="message" placeholder="edit me">
  <br>
  <input type="checkbox" id="checkbox" v-model="checked">
  <label for="checkbox">{{checked}}</label>
  <br>
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <label for="john">Jack</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="mike">Jack</label>
  <br>
  <span>Checked names: {{checkedNames | json}}</span>
  <br>
  <input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{picked}}</span>
  <br>
  <select v-model="selected">
    <option selected>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <br>
  <span>Selected: {{selected}}</span>
  <br>
  <select v-model="selected2" multiple>
    <option selected>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <br>
  <span>Selected: {{selected2 | json}}</span>
  <br>
  <select v-model="selected3">
    <option v-for="option in options" v-bind:value="option.value">
      {{option.text}}
    </option>
  </select>
  <br>
  <span>Selected: {{selected3}}</span>
  <script>
    var vm = new Vue({
      el: "#body",
      data: {
        checkedNames: [],
        selected3: 'A',
        options: [
          { text: 'One', value: 'A' },
          { text: 'Two', value: 'B' },
          { text: 'Three', value: 'C' }
        ]
      }
    })
  </script>
</body>
</html>
