<!DOCTYPE html>
<html>
<head>
  <title>vue.js sample</title>
  <script src="node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
  <ul id="example-2">
    <li v-for="item in items">
      {{parentMessage}} - {{$index}} - {{item.message}}
    </li>
    <div v-for="(index, item) in items">
      {{index}} {{item.message}}
    </div>
    <ul>
      <template v-for="item in items">
        <li>{{item.msg}}</li>
        <li class="divider"></li>
      </template>
    </ul>
  </ul>
  <ul id="repeat-object" class="demo">
    <li v-for="value in object">
      {{$key}} : {{value}}
    </li>
  </ul>
  <div id="hoge">
    <span v-for="n in 10">{{n}} </span>
  </div>

  <script>
  var example2 = new Vue({
    el: '#example-2',
    data: {
      parentMessage: 'Parent',
      items: [
        {message: 'Foo'},
        {message: 'Bar'}
      ]
    }
  })
  new Vue({
    el: '#repeat-object',
    data: {
      object: {
        FirstName: 'John',
        LastName: 'Doe',
        Age: 30
      }
    }
  })
  new Vue({el: '#hoge'})
  </script>
</body>
</html>
